* {
    transition: all 0.3s ease-in-out;
}

.container {
    clear: both;
    overflow: auto;
}

nav {
    float: right;
}

.logo img {
    float: left;
}

ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: raleway;
}

ul li:hover {
    color: orange;
}

.btn {
    margin: 10px;
}

.btn button{
    width: 200px;
    height: 50px   ;
}

.card {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 3px;
}
.card-box {
    border: 1px solid black;
}
.card-box img {
    object-fit: cover;
    width: 300px;
}